pipeline/Master_Pipeline.json
{
	"name": "Master_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup_To_Get_SP-OP",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[SP_Get_Queued_Or_Failed_Record]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTableDS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If_DataPresent_Or_Not",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_To_Get_SP-OP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup_To_Get_SP-OP').output.count,0 )",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Sp_To changestatusToInProgress",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SP_ChangeStatusTo_InProgress]",
								"storedProcedureParameters": {
									"QID": {
										"value": {
											"value": "@activity('Lookup_To_Get_SP-OP').output.value[0].QueueID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServerLS",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": "AZ-VDI-D1-267",
									"UserName": "sa",
									"Password": "sa@123"
								}
							}
						}
					]
				}
			},
			{
				"name": "Client_Connection_String",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "If_DataPresent_Or_Not",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('Lookup_To_Get_SP-OP').output.value[0].TenantID",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "B1_Client",
							"activities": [
								{
									"name": "B1_ClientServerName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Client_ServerName_V",
										"value": "mysimplify.database.windows.net"
									}
								},
								{
									"name": "B1_ClientUserName",
									"description": "",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Cleint_UserName_V",
										"value": "priyankag08"
									}
								},
								{
									"name": "B1_ClientPassword",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Client_Password_V",
										"value": "Pravin@123"
									}
								},
								{
									"name": "B1_ClientDBName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B1_DBName",
										"value": {
											"value": "@variables('Client_DBName_V')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "B2_Client",
							"activities": [
								{
									"name": "B2_ClientServerName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B2_ServerName",
										"value": {
											"value": "@variables('Client_ServerName_V')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "B2_ClientUserName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B2_UserName",
										"value": {
											"value": "@variables('Cleint_UserName_V')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "B2_ClientPassword",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B2_Password",
										"value": {
											"value": "@variables('Client_Password_V')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "B2_ClientDBName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B2_DBName",
										"value": {
											"value": "@variables('Client_DBName_V')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Type",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Client_Connection_String",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"cases": [
						{
							"value": "Type1_Entire-Design",
							"activities": [
								{
									"name": "Execute_Pipl_For_ED",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "EntireDesign",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								},
								{
									"name": "ExecuteDesignVersionPipl",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Execute_Pipl_For_ED",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Full_DesignVersion",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "Case2",
							"activities": [
								{
									"name": "Execute_Pipl_FOR_FDV",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Full_DesignVersion",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Client_ServerName_V": {
				"type": "String"
			},
			"Client_DBName_V": {
				"type": "String"
			},
			"Cleint_UserName_V": {
				"type": "String"
			},
			"Client_Password_V": {
				"type": "String"
			},
			"B1_DBName": {
				"type": "String"
			},
			"B2_DBName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-07-05T12:17:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}