pipeline/Master_Pipeline.json
{
	"name": "Master_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup_To_Get_SP-OP",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[SP_Get_Queued_Or_Failed_Record]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTableDS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_To_Get_SP-OP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Lookup_To_Get_SP-OP').output.value[0].QueueID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Client_Connection_String",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"cases": [
						{
							"value": "Case1",
							"activities": [
								{
									"name": "B1_ClientServerName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B1_ServerName",
										"value": "mysimplify.database.windows.net"
									}
								},
								{
									"name": "B1_ClientUserName",
									"description": "",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B1_UserName",
										"value": "priyankag08"
									}
								},
								{
									"name": "B1_ClientPassword",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B1_Password",
										"value": "Pravin@123"
									}
								},
								{
									"name": "B1_ClientDBName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B1_DBName",
										"value": "Target_DB"
									}
								}
							]
						},
						{
							"value": "Case2"
						}
					]
				}
			},
			{
				"name": "Type",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Client_Connection_String",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"cases": [
						{
							"value": "Case1",
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderStoredProcedureName": "[dbo].[SP_Get_Queued_Or_Failed_Record]",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": "Set Identity_Insert ui.FormDesign on\nSet Identity_Insert ui.FormDesignVersion on\nSet Identity_Insert ui.FormDesignType on",
											"writeBehavior": "upsert",
											"upsertSettings": {
												"useTempDB": true,
												"keys": [
													"QueueID"
												]
											},
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlServerTableDS",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlTableDS",
											"type": "DatasetReference"
										}
									]
								}
							]
						},
						{
							"value": "Case2"
						}
					]
				}
			}
		],
		"variables": {
			"B1_ServerName": {
				"type": "String"
			},
			"B1_DomainName": {
				"type": "String"
			},
			"B1_UserName": {
				"type": "String"
			},
			"B1_Password": {
				"type": "String"
			},
			"B1_DBName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-07-05T12:17:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}