pipeline/Master_Pipeline.json
{
	"name": "Master_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup_To_Get_SP-OP",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[SP_Get_Queued_Or_Failed_Record]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTableDS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If_DataPresent_Or_Not",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_To_Get_SP-OP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup_To_Get_SP-OP').output.count,0 )",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Sp_To changestatusToInProgress",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SP_ChangeStatusTo_InProgress]",
								"storedProcedureParameters": {
									"QID": {
										"value": {
											"value": "@activity('Lookup_To_Get_SP-OP').output.value[0].QueueID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServerLS",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": "AZ-VDI-D1-267",
									"UserName": "sa",
									"Password": "sa@123"
								}
							}
						}
					]
				}
			},
			{
				"name": "Client_Connection_String",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "If_DataPresent_Or_Not",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('Lookup_To_Get_SP-OP').output.value[0].TenantID",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "B1_Client",
							"activities": [
								{
									"name": "B1_ClientServerName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B1_ServerName",
										"value": "mysimplify.database.windows.net"
									}
								},
								{
									"name": "B1_ClientUserName",
									"description": "",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B1_UserName",
										"value": "priyankag08"
									}
								},
								{
									"name": "B1_ClientPassword",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B1_Password",
										"value": "Pravin@123"
									}
								},
								{
									"name": "B1_ClientDBName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B1_DBName",
										"value": "B1_ClientDB"
									}
								}
							]
						},
						{
							"value": "B2_Client",
							"activities": [
								{
									"name": "B2_ClientServerName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B2_ServerName",
										"value": "AZ-VDI-D1-267"
									}
								},
								{
									"name": "B2_ClientUserName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B2_UserName",
										"value": "sa"
									}
								},
								{
									"name": "B2_ClientPassword",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B2_Password",
										"value": "sa@123"
									}
								},
								{
									"name": "B2_ClientDBName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "B2_DBName",
										"value": "ADFDB"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Type",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Client_Connection_String",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"cases": [
						{
							"value": "Case1",
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderStoredProcedureName": "[dbo].[SP_Get_Queued_Or_Failed_Record]",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": "Set Identity_Insert ui.FormDesign on\nSet Identity_Insert ui.FormDesignVersion on\nSet Identity_Insert ui.FormDesignType on",
											"writeBehavior": "upsert",
											"upsertSettings": {
												"useTempDB": true,
												"keys": [
													"QueueID"
												]
											},
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlServerTableDS",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlTableDS",
											"type": "DatasetReference"
										}
									]
								}
							]
						},
						{
							"value": "Case2"
						}
					]
				}
			}
		],
		"variables": {
			"B1_ServerName": {
				"type": "String"
			},
			"B1_DomainName": {
				"type": "String"
			},
			"B1_UserName": {
				"type": "String"
			},
			"B1_Password": {
				"type": "String"
			},
			"B1_DBName": {
				"type": "String"
			},
			"B2_ServerName": {
				"type": "String"
			},
			"B2_UserName": {
				"type": "String"
			},
			"B2_Password": {
				"type": "String"
			},
			"B2_DBName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-07-05T12:17:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}